{% extends "base.html" %}

{% block title %}Agendamento de Vacinação{% endblock %}
{% block content %}
    <h1>Agendamento de Vacinação</h1>
    <form method="POST">
        <label for="paciente_id">Paciente:</label>
        <select id="paciente_id" name="paciente_id" required>
            {% for paciente in pacientes %}
            <option value="{{ paciente[0] }}">{{ paciente[1] }}</option>
            {% endfor %}
        </select><br>
        <label for="vacina_id">Vacina:</label>
        <select id="vacina_id" name="vacina_id" required>
            {% for vacina in vacinas %}
            <option value="{{ vacina[0] }}">{{ vacina[1] }}</option>
            {% endfor %}
        </select><br>
        <label for="unidade_saude_id">Unidade de Saúde:</label>
        <select id="unidade_saude_id" name="unidade_saude_id" required>
            {% for unidade in unidades %}
            <option value="{{ unidade[0] }}">{{ unidade[1] }}</option>
            {% endfor %}
        </select><br>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required><br>
        <label for="hora">Hora:</label>
        <input type="time" id="hora" name="hora" required><br>
        <button type="submit">Agendar Vacinação</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
{% endblock %}
